<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container mt-4">
    <div class="row form-group">
        <div class="col lg-4">
            <button class="btn btn-block btn-success" id="insert_btn" data-toggle="modal" data-target="#insert_modal">
                Insert
            </button>
        </div>
        <div class="col lg-4">
            <button class="btn btn-block btn-success btn-update-data" id="'update_btn">Update All</button>
            <button class="btn btn-block btn-success btn-save-all" id="'save_all_btn"
                    style="display: none; margin-top: 0px">Save All
            </button>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                    <div class="alert alert-success" id="upt_success" style="display: none"></div>
                </div>
                <div class="form-group">
                    <div class="alert alert-danger" id="upt_error" style="display: none"></div>
                </div>
        </div>

    </div>
    <div class="row">
        <div class="col lg-12">
            <div class="table">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Created At</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for student in student_list %}
                        <tr>
                            <td>{{ student.id }}</td>
                            <td class="editable" data-type="name">{{ student.name }}</td>
                            <td class="editable" data-type="email">{{ student.email }}</td>
                            <td class="editable" data-type="gender">{{ student.gender }}</td>
                            <td>{{ student.created_at }}</td>
                            <td class="btn btn-block">
                                <button class="btn btn-block btn-delete btn-danger">Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                </tbody>

            </div>

        </div>

    </div>

</div>
{# modal #}
<div class="modal" tabindex="-1" role="dialog" id="insert_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Insert Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Name: </label>
                    <input type="text" name="name" id="ins_name" class="form-control" placeholder="Name">
                </div>

                <div class="form-group">
                    <label>Email: </label>
                    <input type="text" name="email" id="ins_email" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <label>Gender: </label>
                    <select name="gender" class="form-control" id="ins_gender">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
                <div>
                    <input type="button" name="submit" class="btn btn-block btn-info btn-insert-data"
                           value="Insert Student">
                </div>
                <div class="form-group">
                    <div class="alert alert-success" id="ins_success" style="display: none"></div>
                </div>
                <div class="form-group">
                    <div class="alert alert-danger" id="ins_error" style="display: none"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    {#    for insert #}
    $(".btn-insert-data").click(function () {
        {#console.log($("#ins_name").val())#}
        {#console.log($("#ins_email").val())#}
        {#console.log($("#ins_gender").val())#}
        var name = $("#ins_name").val();
        var email = $("#ins_email").val();
        var gender = $("#ins_gender").val();
        if (name === "") {
            $("#ins_error").text('Please Enter Name')
            $("#ins_error").show()
            return;
        } else if (email === "") {
            $("#ins_error").text('Please Enter Email')
            $("#ins_error").show()
            return;
        } else {
            $(".btn-insert-data").attr("disabled", "disabled");
            $(".btn-insert-data").text("Inserting ... Please Wait ...");
            $.ajax({
                url: '{% url 'create-student' %}',
                type: 'POST',
                data: {name: name, email: email, gender: gender}
            })
                .done(function (response) {
                    if (response['error'] == false) {
                        $("#ins_error").hide();
                        $("#ins_success").text(response['errorMessage']);
                        $("#ins_success").show();
                        var html_data = "<tr><td>" + response['id'] + "</td><td class='editable' data-type='name'>" + name + "</td><td class='editable' data-type='email'>" + email + "</td><td class='editable' data-type='gender'>" + gender + "</td><td>" + response['created_at'] + "</td><td class='btn-td-block'><button class='btn btn-block btn-delete btn-danger'>DELETE</button></td></tr>";
                        $(".table tbody").append(html_data);
                    } else {
                        $("#ins_success").hide();
                        $("#ins_error").text(response['errorMessage']);
                        $("#ins_error").show();
                    }
                })
                .fail(function () {
                    $("#ins_success").hide();
                    $("#ins_error").text("Something Went Wrong");
                    $("#ins_error").show();
                })
                .always(function () {
                    $(".btn-insert-data").removeAttr("disabled");
                    $(".btn-insert-data").text("Insert Student");
                })
        }
    })

    {#update all the table data #}
    $(".btn-update-data").click(function () {
        $(".btn-update-data").hide()
        $(".btn-save-all").show()
        $(".editable").each(function () {
            var value = $(this).text();
            var types = $(this).data('type');
            if (types != 'gender') {
                var html_data = "<input type='text' name='" + types + "'  class='form-control input_" + types + " input_data' value='" + value + "'>";
                $(this).html(html_data);
            } else {
                var html_data = "<select name='" + types + "'  class='form-control input_" + types + " input_data'>";
                if (value == "Male") {
                    html_data += "<option selected>Male</option><option>Female</option>";
                } else {
                    html_data += "<option>Male</option><option selected>Female</option>";
                }
                html_data += "</select>";
                $(this).html(html_data);
            }
        });
    })
    {# after updating click the save all button #}
    $(".btn-save-all").click(function () {
        $(".btn-save-all").attr("disabled", "disabled");
        $(".btn-save-all").text("Saving Data");

        var json_data = [];
        $(".input_data").each(function () {
            console.log($(this).val());
            var value = $(this).val();
            var parent_html = $(this).parent();
            parent_html.html(value);
            $(this).remove();
        })
        $("tbody tr").each(function () {
            var id = $(this).children().eq(0).text()
            var name = $(this).children().eq(1).text()
            var email = $(this).children().eq(2).text()
            var gender = $(this).children().eq(3).text()
            var single_data = {"id": id, "name": name, "email": email, "gender": gender}
            json_data.push(single_data)
        })

        var update_data = JSON.stringify(json_data)

        $.ajax({
            url: '{% url 'update-student' %}',
            type: 'POST',
            data: {data:update_data}
        })
            .done(function (response) {
                if (response['error'] == false) {
                    $("#upt_error").hide();
                    $("#upt_success").text(response['errorMessage']);
                    $("#upt_success").show();

                } else {
                    $("#upt_success").hide();
                    $("#upt_error").text(response['errorMessage']);
                    $("#upt_error").show();
                }
            })
            .fail(function () {
                $("#upt_success").hide();
                $("#upt_error").text("Something Went Wrong");
                $("#ins_error").show();
            })
            .always(function () {
                $(".btn-save-all").removeAttr("disabled");
                $(".btn-save-all").text("Save All");
                $(".btn-update-data").show()
                $(".btn-save-all").hide()
            })
    })

{#    for delete #}
    $(document).on("click", ".btn-delete", function (){
        var this_html = $(this)
        this_html.attr("disabled", "disables")
        this_html.text("Deleting...")
        var id = this_html.parent().parent().children().first().text()
        $.ajax({
            url: '{% url 'delete-student' %}',
            type: 'POST',
            data: {id:id}
        })
            .done(function (response) {
                if (response['error'] == false) {
                    $("#upt_error").hide();
                    $("#upt_success").text(response['errorMessage']);
                    $("#upt_success").show();

                } else {
                    $("#upt_success").hide();
                    $("#upt_error").text(response['errorMessage']);
                    $("#upt_error").show();
                }
            })
            .fail(function () {
                $("#upt_success").hide();
                $("#upt_error").text("Something Went Wrong");
                $("#ins_error").show();
            })
            .always(function () {
                $(".btn-save-all").removeAttr("disabled");
                $(".btn-save-all").text("Save All");
                $(".btn-update-data").show()
                $(".btn-save-all").hide()
            })
    })
</script>
</body>
</html>